* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/*Typography*/
body {
    margin: 0;
    font-size: 1.125rem;
    font-family: 'Nunito', sans-serif;
    /* font-family: "Convergence", sans-serif; */
    overflow: hidden;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.75rem;
}

#firstname {
    margin-bottom: 1em;
}

#email-error {
    font-size: .8rem;
    color: #ff713b;
    margin-top: 0;
    padding: 0;
    font-style: italic;
}



/*Layout*/
.container {
    display: flex;
    min-height: 100vh;
}

.left {
    flex: 7;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.125rem;
    background-color: #404040;
    /* background-image: url(images/dark-ribs.jpg); */
    background-image: url(images/ribs.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: .2em;
    /* border: 1px solid magenta; */
}


.top-content {
    font-size: 0.7em;
    font-weight: 900;
    color: #f18119;
    text-transform: uppercase;
    max-width: 30%;
    margin: 0 auto;
    border-top: 6px solid #f18119;
    padding-top: .3em;
    /* border: 2px solid yellow; */
    
}


.center-content {
    font-weight: 3.5rem;
    font-weight: 400;
    color: #fff;
    margin: 0 auto;
    /* border: 2px solid yellow; */
}


.center-content strong{
    font-weight: 900;
}

.bottom-content {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #f18119;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 1em;
    /* border: 2px solid yellow; */
}

.right {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* border: 2px solid red; */
}

.content {  
    max-width: 80%;
    margin: 0 auto;
    /* border: 2px solid yellow;  */
}

.content-header {
    color: #404040;
    margin-bottom: 1.5em;
}

.content-sub-header {
    text-transform: uppercase;
    color: #f18119;
    margin: 0;
    font-weight: 700;
}

.content-main {
    font-size: 0.9em;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 1.5em;
}


form {
    display: block;
    /* text-align: center; */
    padding: 1.3em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.input {
    position: relative;
    /* display: flex; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* text-align: center; */
}

.input .user-icon {
    position: absolute;
    left: 1em;
    bottom: 1.3em;
    color: #ff713b;
}


.input .email-icon {
    position: absolute;
    left: 1em;
    bottom: 0.4em;
    color: #ff713b;
}


.input input {
    /* position: absolute; */
    outline: none;
    background: none;
    font-family: inherit;
    font-size: 1rem;
    margin: 0 auto;
    padding: .5em 2.5em;
    border: 1px solid #f18119;
    border-radius: 1rem;
} 

.input input:focus {
    border: 1px solid #f18119;
}

.content input.active {
    border: 1px solid #f18119
}

/* .content .label {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    padding: 0 0.5rem;
    cursor: text;
    transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
    background: #fff;
}

.content input:focus ~ .label,
.content input:not(:focus) ~ .label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
} */


.content-button {
    display: inline-block;
    background-image: linear-gradient( to right, #ffa51d, #ff713b);
    padding: 1em 1.5em;
    font-family: inherit;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 1em;
    transition: transform 250ms;
}

.content-button:hover,
.content-button:focus {
    outline: none;
    cursor: pointer;
    transform: scale(1.09);
    border: 1px solid #ffa51d;
}

.fine-print {
    flex: 0;
    font-size: .79rem;
    letter-spacing: 1px;
    color: #747272;
}

.fine-print strong {
    color: #ff713b;
    font-weight: 900;
}


.footer-secondary {
    font-size: 1rem;
}

.footer-secondary  a {
    color: #ff713b;
    font-weight: bold;
}

.footer-secondary  a:focus,
.footer-secondary  a:hover {
    cursor: pointer;   
    font-size: 1.05rem;
    transition: 0.3s ease-in-out;
}



/*Media queries*/
@media(max-width: 960px){
    body {
        overflow: scroll;
        font-size: 1rem;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.3125rem;
    }


    .container {
        flex-direction: column;
    }

    .left {
        flex: 1;
    }

    .right{
        flex: 1;
    }

    .top-content {
        font-size: 0.7rem;
        max-width: 40%;
        margin-bottom: 10em;
    }

    .center-content {
        margin-bottom: 3em;
    }

    .bottom-content {
        font-size: 1.1rem;
        margin-bottom: 1em;
    }

    .footer-secondary {
        font-size: 0.9rem;
    }
}